<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="DEADLINE" data-end="31-Jan-2015 18:00:00"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="burndown_evaluations" data-view="Rickshawgraph" data-title="BurnUp Chart" data-renderer="line" data-legend="true" data-summary-method="last" data-displayed-value="999"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="evaluations_done" data-view="Meter" data-title="Avaliações Meta" data-min="0" data-max="100" data-suffix="%"></div>
    </li>    
  </ul>  
</div>